.risk-subsection {
  margin-bottom: 20px; /* Add spacing between sections */
}

.risk-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Add a gap between text and chart */
}

@media screen and (max-width: 500px) {
  .risk-content {
    flex-direction: column;
  }
}

.risk-commentary, .risk-data {
  flex: 1 1 300px; /* Allows both sections to grow and fill the space */
}
