.investment-strategy-section {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.subsection {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap as needed */
  align-items: stretch;
  height: 100%;
}

h3 {
  margin-top: 0;
}

.text-content {
  flex: 1 1 300px; /* Initial size but can grow and shrink */
}

.visual-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.visual-content img {
  min-width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Media Query */
@media (max-width: 800px) { /* Adjust the value based on your layout needs */
  .subsection {
      flex-direction: column;
  }

  .text-content, .visual-content {
      flex-basis: 100%; /* Each takes full width on smaller screens */
  }
}
