.investment-strategy-section {
    padding: 20px;
    /* background-color: #f5f5f5; */
    margin: 20px;
    border-radius: 8px;
  }
  
  .subsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .text-content {
    flex-basis: 45%;
  }
  
  .visual-content {
    flex-basis: 45%;
    text-align: center;
  }
  
  .visual-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Additional styling as needed */
  