.overview-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview-text, .overview-visual {
    flex: 1;
    margin: 10px; /* Adjust margin as needed */
    min-width: 200px;
}

/* Media query for screen width less than 400px */
@media screen and (max-width: 400px) {
    .overview-content {
        flex-direction: column;
    }

    .overview-text, .overview-visual {
        margin-right: 0;
        margin-left: 0;
        width: 100%; /* Ensure full width on smaller screens */
    }
}
