

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.section {
  width: 100%;
  margin-top: 70px 0; /* Add margin to the top and bottom */
  padding: 50px; /* Padding inside the section */
  /* background-color: #f5f5f5; */
  border-radius: 20px;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.subsection {
  display: flex;
  align-items: start;
  justify-content: space-around;
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-size: 14px; /* Set your desired font size */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* risk.css */
.content {
  display: flex;
  flex-direction: column; /* Start with column layout */
  align-items: center;
}

.commentary, .chart {
  width: 100%; /* Full width for both text and visual */
  margin: 10px 0; /* Adjust margin as needed */
}

/* Media query for screen width greater than 300px */
@media screen and (min-width: 800px) {
  .content {
      flex-direction: row; /* Switch to row layout for wider screens */
      justify-content: space-between;
  }

  .commentary, .chart {
      flex: 1; /* Equal width for text and visual */
      margin: 10px; /* Adjust margin as needed */
      min-width: 200px;
  }
}
