  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px; /* Reduced font size */
  }
  
  table, th, td {
    border: 1px solid black;
    text-align: left;
  }
  
  th, td {
    padding: 8px;
  }
  
  th {
    background-color: #333;
    color: white;
  }