.content {
  display: flex;
  flex-direction: column; /* Start with column layout */
  align-items: center;
}

.commentary, .chart {
  width: 100%; /* Full width for both text and visual */
  margin: 10px 0; /* Adjust margin as needed */
}
  
/* Media query for screen width greater than 300px */
@media screen and (min-width: 800px) {
  .content {
      flex-direction: row; /* Switch to row layout for wider screens */
      justify-content: space-between;
  }

  .commentary, .chart {
      flex: 1; /* Equal width for text and visual */
      margin: 10px; /* Adjust margin as needed */
      min-width: 200px;
  }
}
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px; /* Reduced font size */
  }
  
  table, th, td {
    border: 1px solid black;
    text-align: left;
  }
  
  th, td {
    padding: 8px;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  @media (max-width: 800px) { /* Adjusted for a total minimum width of 600px */
    .content {
      flex-direction: column;
    }
  
    .commentary,
    .chart {
      min-width: 100%;
      max-width: 100%;
    }
  }
  